/.gradle/
/.kotlin/
/.idea/
*.iml
/local.properties
/build/
/artifacts/
/app/build/
/artifacts/
/app/libs/shizuku-plus-*.aar
/app/pixelshade-debug.keystore
/third_party/shizuku-plus/**/build/
/artifacts/
